.App {
  text-align: center;
  max-width: 900px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container {
  height: 88%;
  align-items: center;
  /* border: 1px solid black; */
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 50%;
  margin: 15rem auto 0 auto;
}

.input-box {
  height: 4rem;
  margin: 1rem;
}

.btn {
  height: 3rem;
  margin: 1.5rem 1rem 2rem 1rem;
}

span {
  margin-left: 1.5rem;
}

.top-section {
  display: flex;
  justify-content: flex-end;
}

.user-header {
  margin: 8rem 22rem 0 0;
}

.sign-out{
  margin-right: 2rem;
  height: 5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
