body {
  background-color: rgb(61, 177, 197);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App a {
  margin: 20px;
}

.registerForm, .loginForm {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  width: 500px;
}

.registerForm input, 
.registerForm button,
.loginForm input,
.loginForm button {
  margin: 20px;
  width: 500px;
  height: 30px;
  font-size: 20px;
}

a:visited,
a:link,
a:hover,
a:active {
  color: rgb(40, 5, 73);
  font-size: 20px;
  text-decoration: none;
}