.App{
  max-width: 800px;
  margin:auto;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.margin-top{
  margin-top:50px;
}

.nav{
  margin-bottom: 10px;
  text-decoration: none;
  color:blue;
  margin-bottom: 50px;
  a {
   text-decoration: none;
   color: navy;
   margin-right: 10px;
   border: 2px solid white;
   padding: 10px;
   &:hover{
    color: red;
   }
  }
}

.home{
  margin-top:50px;
}