.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.2rem;
  font-weight: 100;
}

button{
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  width: 100px;
  font-size: 1rem;
  padding: 10px 5px;
  margin: 10px;
}

input{
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  width: 150px;
  font-size: 1.4rem;
  padding: 20px;
  margin: 10px;
}

ul{
  list-style: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
