.App {
  text-align: center;
}

.nav-container {
  margin: 0 auto;
  padding: 20px 0;
  border: 1px solid black;
  background: #D3D2D3;
}

.nav-link {
  padding: 0 50px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.sign-out {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-size: 20px;
    background: #56b9bd;
    color: white;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.list-container {
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
  min-height: 200px;
  margin: 0 auto;
  background: #D3D2D3;
}

.display-users {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 100px;
  font-size: 18px;
}

.users-heading {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
}
