body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
.App{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: teal;
  color:beige;
  height: 100vh;
}
.input-field{
  display:flex;
  flex-direction: column;
  align-items:center;
}
.text{
  margin: 20px;
}
.log-button{
  width: 100px;
  display:flex;
  justify-content: center;
}
.indiv-user{
  width:300px;
  height: auto;
  background: beige;
  color: #400040;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

