* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

nav {
  width: 100vw;
  height: 50px;
  background: slategray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
}

form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

form input, button {
  width: 50%;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  border: 1px solid #aaa;
  outline: none;
}

form input:focus {
  border: 1px solid teal;
}

form input[type="submit"], button {
  border: none;
  width: 10%;
  color: white;
  background: slategray;
  font-weight: bold;
}

form input[type="submit"]:hover, button:hover {
  color: white;
  background: teal;
}

