nav {
    width: 100%;
    display: flex;
    position: absolute;
    font-size: 20px;
    align-items: center;
}
nav .left {
    width: 100%;
    margin-left: 43.5%;
}

nav .right {
    position: relative;
    width: 15%;
    right: 0;
}

nav button {
    position: relative;
    width: 100%;
    margin-top: 0;
    right: 10px;
}