.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  margin:0 20px 0 20px;
}

header {
  display:flex;
  flex-direction: column;
}

.buttons {
  display:flex;

}

.red {
  background:greenyellow;
  color:white;
}

.blue {
  background:teal;
  color:white;
}

.green {
  color:white;
  background:red;
}
