.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 295px;
}

.login {
  background-color: #fffc00;
  border: none;
  border-radius: 100px;
  box-shadow: 7px 3.5px #e5e200;
  color: inherit;
  cursor: pointer;
  font-family: Lato;
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 16px 32px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
}

.login:hover {
  background-color: #e5e200;
  box-shadow: 7px 3.5px #ccc800;
}

.login:active {
  box-shadow: 5px 2.5px #e5e200;
  transform: translate(2px, 2px);
}

.login:focus {
  outline: none;
}
