html {
  font-size: 62.5%;
  background-color: #222;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 2rem;
  color: #fff;
}

h2 {
  font-size: 4rem;
}

h4 {
  margin-top: 2rem;
}
