.usersContainer {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    max-width: 1024px;
}

.usersContainer h1 {
    width: 100%;
}

.userContainer {
    width: 300px;
    background-color: white;
    border-radius: 8px;
    margin: 15px;
    padding: 15px;
    box-shadow: 5px 5px 8px 3px gray;
}